<div class="row">
  <div class="col-sm-4" *ngFor="let c of courses">
    <div class="card border-info mb-3">
        <div class="card-header">{{c.name}}</div>
        <div class="card-body">
          <h4 class="card-title">{{c.shortDescription}}</h4>
          
          <button type="button" class="btn btn-primary" [routerLink]="[ '/course-info/' , c.id ]">Select</button>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" (click) = "onCourseDelete(c.id)">Delete</button>
        </div>
    </div> 
  </div>
</div>
<HR>
<a routerLink="/add"> Add course </a>


  
  